.friends-display-link {
    display: block;
    text-align: center;
    padding: 12px 0px;
    background-color: rgba(0, 0, 0, 0.05);
    font-size: 13px;
    margin-top: -15px;
}
.friends-display-link i {
    color: rgba(151, 133, 133, 0.3);
}

.friends-screen {
    padding: var(--horizontal-spce);
}

.friends-screen__channel-header {
    border-top: var(--main-border);
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    margin: 10px 0px;
    color: rgba(0, 0, 0, 0.5);
}

@keyframes hideSpalshScreen {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

#splash-screen {
    background-color: var(--yellow);
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    animation: hideSpalshScreen 1s ease-in-out forwards;
}
