
.welcome-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin : 50px 0px;
    text-align: center  ;
}

.welcome-header__title{
    margin: 50px 0px;
    font-size: 24px;
    font-weight: 500;
}

.welcome-header__text{
    width: 60%;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.4);
    font-weight: 300;
}

.login-from{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 30px;
}

.login-from input{
    font-size: 18px;
    width: 90%;
    border: none;
    border-bottom: 1px solid grey;
    padding: 15px 0px;
    margin-bottom: 15px;
    transition: border-color 0.3s ease-in-out;
}

.login-from input::placeholder{
    color: rgba(0, 0, 0, 0.2);
}

.login-from input:focus{
    border-color: var(--yellow);
}

.login-from input[type="submit"]{
    border: none;
    background-color: var(--yellow);
    border-radius: 5px;
    padding: 20px 0px;
}

.login-from a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.4);
    font-size: 13px;
}