.nav {
    background-color: #f9f9fa;
    padding: 20px 40px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    box-sizing: border-box;
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

@keyframes appearBtn {
    from {
        transform: translateY(80px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

.nav__btn {
    opacity: 0;
    color: rgba(0, 0, 0, 0.6);
    animation: appearBtn 1s ease-in-out forwards;
}

.nav__btn:nth-child(2) {
    animation-delay: 0.1s;
}
.nav__btn:nth-child(3) {
    animation-delay: 0.2s;
}
.nav__btn:nth-child(4) {
    animation-delay: 0.3s;
}

.nav__link {
    position: relative;
}

@keyframes notificaitonAnimation {
    0% {
        transform: none;
    }
    50% {
        transform: translateY(-5px) rotatey(180deg);
    }
    100% {
        transform: none;
    }
}

.nav-notification {
    position: absolute;
    bottom: 15px;
    left: 20px;
    animation: notificaitonAnimation 2s ease-in-out infinite;
}
