.screen-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: var(--horizontal-spce);
}

.screen-header__title {
    font-size: 24px;
    font-weight: 600;
}
.screen-header__icons span {
    margin-left: 10px;
}
