.screen-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: var(--horizontal-spce);
    margin-bottom: 15px;
    padding-top: 40px;
}

.screen-header__title {
    font-size: 24px;
    font-weight: 600;
}
.screen-header__icons span {
    margin-left: 10px;
}

@keyframes rotateCog {
    from {
        transform: none;
    }
    to {
        transform: rotateZ(360deg);
    }
}
.screen-header__icons .fa-cog:hover {
    animation: rotateCog 1s linear infinite;
}
